# Read token for the repo
# registry=https://npm.pkg.github.com/element36-io
@element36-io:registry=https://npm.pkg.github.com
# there is a github bug: https://github.com/yarnpkg/yarn/issues/7552
always-auth=true
_authToken='4c39fbc3b82818a57afd149ae3d2a9ea6149e3c0'
